@page "/sair"
@layout HeadLessLayout
@inherits LogoutPage

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessao...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex Justify-Center pb-8 pt-8">
        <img src="imgs/dima.png"
             alt="Dima - Controle Financeiro"
             width="200" />
    </div>

    <MudAlert Severity="Severity.Info">
        Sessao Finalizada...
        <MudButton Variant="Variant.Text" Href="/">
            Ir para a tela de Login
        </MudButton>
    </MudAlert>
</MudPaper>


